*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --main-color: #b51917;
  --second-color: #cf1b15;
  --light-gray: #f8f8f8;
  --text-white: white;
  --title-fz: 55px;
  --text-white-hover: rgba(255, 255, 255, 0.8);
}
body {
  font-family: "Roboto", sans-serif;
  color: #333;
}
p {
  line-height: 1.7em;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.second-family {
  font-family: "Dancing Script", cursive;
}
.text-black {
  color: black;
}
.text-second {
  color: var(--second-color);
  font-weight: bold;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.text-white {
  color: white;
}
/* header */
#header {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("../images/set1-happy-couple-1500x630.jpg") no-repeat center top;
  background-size: cover;
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* nav */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.nav .logo {
  width: 230px;
}
.nav .logo img {
  width: 100%;
  display: block;
}
.menu-toggler {
  display: none;
}
ul.menu {
  display: flex;
}

ul.menu li a {
  padding: 15px 0px;
  display: flex;
}
/* ul.menu li:first-child a {
  border-left: none;
} */
ul.menu li a span {
  border-left: 1px solid white;
  padding: 0 15px;
  display: block;
  color: var(--text-white);
  font-size: 14px;
}
ul.menu li:first-child a span {
  border-left: none;
}
ul.menu li a:hover span {
  color: var(--text-white-hover);
  border-left-color: var(--text-white-hover);
}
/* header section content */
.header-section {
  text-align: center;
}
.header-section h1 {
  margin-bottom: 50px;
  font-size: 90px;
  word-spacing: 30px;
}
/* main */
.heart-with-line {
  max-width: 400px;
  height: 1px;
  background-color: #333;
  margin: 50px auto;
  position: relative;
}
.heart-with-line i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  font-size: 18px;
  background-color: white;
  padding: 3px 20px;
}
.heart-with-line i.light-gray {
  background-color: var(--light-gray);
}
.heart-with-line.heart-with-line-white-img {
  background: linear-gradient(
    to right,
    black 45%,
    transparent 45%,
    transparent 55%,
    black 55%
  );
}
.heart-with-line.heart-with-line-white-img i {
  background-color: transparent;
}
.heart-with-line.heart-with-line-white {
  background: linear-gradient(
    to right,
    white 45%,
    transparent 45%,
    transparent 55%,
    white 55%
  );
}
.heart-with-line.heart-with-line-white i {
  color: white;
  background-color: transparent;
}
/* our story */
#our-story {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
/* our story top */
.our-story-top {
  text-align: center;
  padding: 120px 15px;
}
.our-story-top h2 {
  font-size: var(--title-fz);
}

.our-story-top p {
  margin: 40px 0;
  font-size: 18px;
  line-height: 1.7em;
}
.our-story-top time {
  color: var(--second-color);
  font-size: 40px;
  font-weight: bold;
}
/* our story main */
.our-story-main {
  width: 100%;
  background-color: var(--light-gray);
  text-align: center;
  padding: 120px 15px;
}
.our-story-main h2 {
  font-size: var(--title-fz);
}
/* our-story-description */
.our-story-description {
  display: flex;
  justify-content: space-between;
  margin: 70px 0;
}
.our-story-description p {
  width: 48%;
  text-align: justify;
}
/* who are we */
.who-are-we,
#wedding-details {
  width: 100%;
}
/* banner for all section */

.who-are-we-banner,
.wedding-details-banner,
.accomodation-banner {
  width: 100%;
  padding: 100px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/set1-young-couple-bw.jpg") no-repeat center 60% fixed;
  background-size: cover;
  color: white;
  text-align: center;
}
.who-are-we-banner h2,
.wedding-details-banner h2,
.accomodation-banner h2 {
  font-size: var(--title-fz);
  margin-bottom: 30px;
}
.wedding-details-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/wedding-colorful-light-balls-bw.jpg") no-repeat center 60%
      fixed;
  background-size: cover;
}
.accomodation-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/accomodation.jpg") no-repeat center 60% fixed;
  background-size: cover;
}
/* triangle */
.our-story-top,
.our-story-main,
.who-we-are-inner {
  position: relative;
}
.our-story-top::after,
.our-story-main::after,
.who-we-are-inner::after,
#gift::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: white;
  transform: translate(-50%, 0);
  z-index: 50;
}
.our-story-main::after {
  border-top-color: var(--light-gray);
}
#gift:after {
  border-top-color: #d8d8d8;
}
/* who we are bottom section */

.who-we-are-inner {
  padding: 90px 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.who-we-are-box {
  width: 48%;
}
.who-we-are-box h3 {
  font-size: var(--title-fz);
  margin-bottom: 20px;
  text-align: center;
  padding-top: 20px;
}
.who-we-are-box figure {
  width: 100%;
}
.who-we-are-box figure figcaption {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 26px;
  text-align: center;
}
.who-we-are-box figure p {
  line-height: 1.8em;
  text-align: center;
  font-size: 17px;
  padding: 0 15px;
}
.who-we-are-box-image {
  width: 100%;
  overflow: hidden;
}
.who-we-are-box-image img {
  width: 100%;
  display: block;
  transition: 0.5s;
}
.who-we-are-box-image:hover img {
  transform: scale(1.1);
  filter: grayscale(100%);
}
/* grooms and brides in who we are customers */
.customers {
  width: 100%;
  background-color: orange;
  display: flex;
}
.customers-side {
  width: 50%;
  min-height: 200px;
  padding: 50px;
}
.customers-left-side {
  background-color: #f8f8f8;
}
.customers-right-side {
  background-color: #f9f2f2;
}
.customers-side h3 {
  text-align: center;
  font-size: var(--title-fz);
  margin-bottom: 30px;
}
.customers-gallery {
  display: flex;
  justify-content: space-between;
}
.customers-gallery figure {
  width: 30%;
}
.customers-gallery figure div {
  width: 100%;
  margin-bottom: 40px;
}
.customers-gallery figure div img {
  width: 100%;
  display: block;
  border-radius: 50%;
}
.customers-gallery figure figcaption {
  text-align: center;
  font-size: 20px;
}
/* weddin details */
.details-box > p {
  text-align: center;
}
.details-box > h3 {
  font-weight: normal;
  font-size: 38px;
  margin-bottom: 0;
}
.details-box figure figcaption {
  margin: 0;
}
.details-box figure .who-we-are-box-image {
  margin: 15px 0;
}
/* accomodation */
#accomodation {
  padding-bottom: 90px;
}
.accomodation-box {
  width: 30%;
}
.accomodation-box figure .who-we-are-box-image {
  position: relative;
}
.accomodation-box figure div::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 0;
  transition: 0.3s;
}
.accomodation-box figure .who-we-are-box-image:hover::after {
  opacity: 1;
}
.accomodation-box .who-we-are-image:hover img {
  filter: grayscale(0%);
}
.accomodation-circle {
  width: 110px;
  height: 110px;
  background-color: hsla(2, 82%, 45%, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-40deg) scale(0.6);
  z-index: 50;
  opacity: 0;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0, -1.2, 0, 1.95);
}
.accomodation-circle i {
  transform: rotateY(180deg);
}
.accomodation-box .who-we-are-box-image:hover .accomodation-circle {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(0deg) scale(1);
}
.accomodation-description {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
.accomodation-inner {
  padding-bottom: 20px;
}
/* gift */
#gift {
  width: 100%;
  background-color: orange;
  padding: 90px 0;
  background: url("../images/gift.jpg") no-repeat center top;
  background-size: cover;
  position: relative;
}
#gift .gift-title {
  text-align: center;
  font-size: var(--title-fz);
}
#gift .who-we-are-box-image:hover img {
  filter: grayscale(0%);
  transform: scale(1);
}
#gift .who-we-are-inner::after {
  display: none;
}
/* contact-us */
#contact-us {
  width: 100%;
  padding: 120px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/set1-young-couple.jpg") no-repeat center top fixed;
  background-size: cover;
  min-height: 800px;
  position: relative;
}
.contact-us-form {
  max-width: 700px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  padding: 50px 60px;
}
.contact-us-form h2 {
  font-size: var(--title-fz);
  text-align: center;
  color: white;
}
.contact-us-form p {
  text-align: center;
  color: white;
  line-height: 1.8em;
  font-weight: bold;
}
.form-inner {
  width: 100%;
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form-inner .input-parent {
  width: 49%;
  margin-bottom: 20px;
}
.input-parent label {
  color: white;
  text-align: center;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
}
.input-parent input,
.input-parent select {
  width: 100%;
  height: 50px;
  border: 2px solid white;
  background-color: transparent;
  text-align: center;
  color: white;
  font-size: 18px;
  outline: 0;
}
.input-parent input[type="email"]:valid {
  border: 2px solid white;
}
.input-parent input[type="email"]:invalid {
  border: 2px solid tomato;
}
.input-parent select option {
  color: black;
}
.form-btn-parent {
  display: flex;
  justify-content: center;
  width: 100%;
}
.form-btn {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  font-size: 16px;
  padding: 15px 50px;
  border-radius: 2px;
  display: inline-block;
  outline: 0;
  transition: 0.5s;
  cursor: pointer;
}
.form-btn:hover {
  background-color: #b51917;
}
/* footer  */
#footer {
  background-color: var(--main-color);
  color: white;
  padding: 15px 0;
}
.footer-inner {
  display: flex;
  justify-content: space-between;
}
.footer-inner p {
  font-size: 14px;
}
.footer-inner ul {
  display: flex;
}
.footer-inner ul li {
  margin-left: 30px;
}
.footer-inner ul li:first-child {
  margin-left: 0;
}
.footer-inner ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-inner ul li a:hover {
  text-decoration: underline;
}
/* elevator */
.elevator {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  color: white;
  position: fixed;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  opacity: 0.7;
  transition: 0.3s;
}
.elevator:hover {
  background-color: var(--light-gray);
  color: var(--main-color);
  opacity: 1;
  border: 1px solid #333;
}
/* responsive begin */
/* for tablet and smartphones */
@media (max-width: 989px) {
  /* header */
  #header {
    min-height: 400px;
  }
  /* header section content */

  .header-section h1 {
    margin-bottom: 40px;
    font-size: var(--title-fz);
    word-spacing: 0;
  }
  .customers-side {
    padding: 50px 10px;
  }
  /* nav */
  .nav {
    background-color: var(--main-color);
  }
  .nav .logo {
    width: 300px;
  }
  .nav .menu {
    display: none;
  }
  .menu-toggler {
    display: block;
    color: var(--text-white);
    cursor: pointer;
    font-size: 30px;
  }
  .menu-toggler:hover {
    color: var(--text-white-hover);
  }
}
/* smart phones 767px*/
@media (max-width: 767px) {
  .our-story-description {
    flex-wrap: wrap;
  }
  .our-story-description p {
    width: 100%;
  }
  .our-story-description p:first-child {
    margin-bottom: 60px;
  }
  /* who we are bottom section */
  .who-we-are-inner {
    flex-wrap: wrap;
  }
  .who-we-are-box {
    width: 100%;
  }
  /* customers */
  .customers {
    flex-wrap: wrap;
  }
  .customers-side {
    width: 100%;
  }
  .customers-gallery {
    flex-direction: column;
    align-items: center;
  }
  .customers-gallery figure {
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(255, 0, 0, 0.1);
    padding-bottom: 20px;
  }
  .customers-gallery figure:last-child {
    border: none;
  }
  /* accomodation */
  .accomodation-inner {
    flex-wrap: wrap;
    padding-right: 30px;
    padding-left: 30px;
  }
  /* gift */
  #gift::after {
    border-top-color: #c3c3c3;
  }
  /* form  */
  .form-inner .input-parent {
    width: 100%;
  }
  /* footer */
  .footer-inner {
    flex-direction: column;
  }
}
/* custom responsive */
@media (min-width: 768px) and (max-width: 865px) {
  .details-box > h3 {
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 0;
  }
}
